.buttonStyle {
    min-width: 200px;
    padding: 17px 25px;
    border-radius: 4px;
    background: #e67315;
    color: #fff;
    cursor: pointer;
    border: 3px solid #f79817;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .buttonStyle:hover {
    background: #f79817;
    color: black;
  }

  .backArrow {
    position: absolute;
    top: 60px;
    left: 260px;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
    cursor: pointer;
  }
  
  .backArrow:hover {
    color: #f79817;
  }
  
  