.buttonStyle {
    min-width: 200px;
    padding: 17px 25px;
    border-radius: 4px;
    background: black;
    color: #fff;
    cursor: pointer;
    border: 3px solid #f79817;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .buttonStyle:hover {
    background: #f79817;
    color: black;
  }
  